{% extends 'curriculo_vitae/base.html' %}

{% block title %}
    <title>Curriculo Vitae | Buscar docente</title>
{% endblock %}

{% block menu %}
    <header>
        <nav class="red darken-3">
            <div class="nav-wrapper container">
                <a href="#!" class="brand-logo">Curriculo Vitae</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

                <ul class="right hide-on-med-and-down">
                    <li><a href="/">Iniciar Sesion</a></li>
                    <li><a href="buscar">Buscar Docentes</a></li>
                </ul>

                <ul class="side-nav" id="mobile-demo">
                    <li>
                        <a href="/" class="tooltipped" >Iniciar Sesion<i class="material-icons right">home</i></a>
                    </li>
                    <li>
                        <a href="buscar" class="tooltipped">Buscar Docentes<i class="material-icons right">search</i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
{% endblock %}

{% block contenido %}
    <div class="row">
        <form class="col s4 offset-l4" action="docente_invitado" method="post" id="docente_invitado">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s12">
                    <input id="nombre" name="nombre" type="text" class="autocomplete">
                    <label for="nombre">Nombre del docente</label>
                </div>
            </div>
            <div class="row center">
                <button class="btn waves-effect waves-light" type="submit" name="action">Buscar
                    <i class="material-icons right">search</i>
                </button>
            </div>
        </form>
    </div>
    {% if docente %}
        <div class="row ">
            <h5 class="center-align">Datos Personales</h5>
            <table class="centered col s8 offset-s2">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Tarjeta Prof.</th>
                        <th>Correo Per.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ docente.cod_docente }}</td>
                        <td>{{ docente.cedula.nombre1 }} {{ docente.cedula.nombre2 }} {{ docente.cedula.apellido1 }} {{ docente.cedula.apellido2 }}</td>
                        <td>{{ docente.cedula.tarjeta_profesional }}</td>
                        <td>{{ docente.cedula.correo_oper }}</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="row">
            <h5 class="center-align">Datos de Contacto</h5>
            <table class="centered col s10 offset-s1">
                <thead>
                    <tr>
                        <th>Correo Inst.</th>
                        <th>Telefonos</th>
                        <th>Twitter</th>
                        <th>Facebook</th>
                        <th>Sitio WEB</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ docente.cedula.correo_inst }}</td>
                        <td>{{ docente.cedula.telefono1 }}, {{ docente.cedula.telefono2 }}</td>
                        <td>{{ docente.cedula.twitter }}</td>
                        <td>{{ docente.cedula.facebook }}</td>
                        <td>{{ docente.cedula.sitioweb }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row">
            <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header"><span class="badge">{{ distincion|length }}</span><i class="material-icons">cake</i>Distinciones</div>
                <div class="collapsible-body">
                    {% if distincion and distincion|length > 0%}
                        <table class="centered highlight">
                            <thead>
                                <tr>
                                    <th>Tipo</th>
                                    <th>Nombre</th>
                                    <th>Fecha</th>
                                    <th>Entidad</th>
                                    <th>Municipio</th>
                                    <th>ambito</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for dis in distincion %}
                                    <tr>
                                        <td>{{ dis.tipo_distincion }}</td>
                                        <td>{{ dis.nombre }}</td>
                                        <td>{{ dis.fecha }}</td>
                                        <td>{{ dis.entidad }}</td>
                                        <td>{{ dis.municipio.nombre }}</td>
                                        <td>{{ dis.ambito }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>No hay distinciones registradas</p>
                    {% endif %}
                </div>
            </li>
            <li>
                <div class="collapsible-header"><span class="badge">{{ estudios|length }}</span><i class="material-icons">school</i>Estudios</div>
                <div class="collapsible-body">
                    {% if estudios and estudios|length > 0%}
                        <table class="centered highlight ">
                            <thead>
                                <tr>
                                    <th>Tipo</th>
                                    <th>Titulo</th>
                                    <th>Institución</th>
                                    <th>Municipio</th>
                                    <th>Semestres</th>
                                    <th>Fecha Inicio</th>
                                    <th>Fecha Titulo</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for est in estudios %}
                                    <tr>
                                        <td>{{ est.tipo_formacion.descripcion }}</td>
                                        <td>{{ est.titulo_obtenido }}</td>
                                        <td>{{ est.institucion.nombre }}</td>
                                        <td>{{ est.municipio.nombre }}</td>
                                        <td>{{ est.semestres }}</td>
                                        <td>{{ est.fecha_inicio }}</td>
                                        <td>{{ est.fecha_titulo }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>No hay estudios registrados</p>
                    {% endif %}
                </div>
            </li>
            <li>
                <div class="collapsible-header"><span class="badge">{{ evento|length }}</span><i class="material-icons">record_voice_over</i>Eventos</div>
                <div class="collapsible-body">
                    {% if evento and evento|length > 0%}
                        <table class="centered highlight">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Fecha</th>
                                    <th>Dirección</th>
                                    <th>Lugar</th>
                                    <th>Tipo Evento</th>
                                    <th>Tipo Participacion</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for eve in evento %}
                                    <tr>
                                        <td>{{ eve.nombre }}</td>
                                        <td>{{ eve.fecha }}</td>
                                        <td>{{ eve.direccion }}</td>
                                        <td>{{ eve.lugar }}</td>
                                        <td>{{ eve.tipo_evento.descripcion }}</td>
                                        <td>{{ eve.tipo_parcipacion.descripcion }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>No hay eventos registrados</p>
                    {% endif %}
                </div>
            </li>
            <li>
                <div class="collapsible-header"><span class="badge">{{ experiencia|length }}</span><i class="material-icons">business</i>Experiencias</div>
                <div class="collapsible-body">
                    {% if experiencia and experiencia|length > 0 %}
                        <table class="centered highlight">
                            <thead>
                                <tr>
                                    <th>Empresa</th>
                                    <th>Fechas</th>
                                    <th>Cargo</th>
                                    <th>Dirección</th>
                                    <th>Telefono</th>
                                    <th>Funciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for xp in experiencia %}
                                    <tr>
                                        <td>{{ xp.empresa }}</td>
                                        <td>{{ xp.fecha_inicio }} hasta {{ xp.fecha_fin }}</td>
                                        <td>{{ xp.cargo }}</td>
                                        <td>{{ xp.direccion }}</td>
                                        <td>{{ xp.telefono }}</td>
                                        <td>{{ xp.funciones }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>No hay experiencias registradas</p>
                    {% endif %}
                </div>
            </li>
            <li>
                <div class="collapsible-header"><span class="badge">{{ continua|length }}</span><i class="material-icons">school</i>Formación Continua</div>
                <div class="collapsible-body">
                    {% if continua and continua|length > 0%}
                        <table class="centered highlight">
                            <thead>
                                <tr>
                                    <th>Tipo de Formación</th>
                                    <th>Institución</th>
                                    <th>Municipio</th>
                                    <th>Fecha Inicio</th>
                                    <th>Fecha Terminación</th>
                                    <th>Fecha Titulo</th>
                                    <th>% de descuento</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for con in continua %}
                                    <tr>
                                        <td>{{ con.tipo_continua.descripcion }}</td>
                                        <td>{{ con.institucion.nombre }}</td>
                                        <td>{{ con.municipio.nombre }}</td>
                                        <td>{{ con.fecha_inicio }}</td>
                                        <td>{{ con.fecha_terminacion}}</td>
                                        <td>{{ con.fecha_titulo }}</td>
                                        <td>{{ con.descuento }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>No hay formaciones continuas registradas</p>
                    {% endif %}
                </div>
            </li>
            <li>
                <div class="collapsible-header"><span class="badge">{{ idiomas|length }}</span><i class="material-icons">language</i>Idiomas</div>
                <div class="collapsible-body">
                    {% if idiomas and idiomas|length > 0%}
                        <table class="centered highlight">
                            <thead>
                                <tr>
                                    <th>Idioma</th>
                                    <th>Nivel</th>
                                    <th>Lectura</th>
                                    <th>Escritura</th>
                                    <th>Conversación</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for idi in idiomas %}
                                    <tr>
                                        <td>{{ idi.idioma.descripcion }}</td>
                                        <td>{{ idi.nivel }}</td>
                                        <td>{{ idi.lectura }}</td>
                                        <td>{{ idi.escritura }}</td>
                                        <td>{{ idi.conversacion }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>No hay idiomas registrados</p>
                    {% endif %}
                </div>
            </li>
            <li>
                <div class="collapsible-header"><span class="badge">{{ investigacion|length }}</span><i class="material-icons">find_in_page</i>Investigaciones</div>
                <div class="collapsible-body">
                    {% if investigacion and investigacion|length > 0%}
                        <table class="centered highlight">
                            <thead>
                                <tr>
                                    <th>Tipo</th>
                                    <th>Nombre</th>
                                    <th>Fecha</th>
                                    <th>Descripción</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for inve in investigacion %}
                                    <tr>
                                        <td>{{ inve.nombre }}</td>
                                        <td>{{ inve.fecha }}</td>
                                        <td>{{ inve.tipo_investigacion.descripcion }}</td>
                                        <td>{{ inve.descripcion }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>No hay Investicaciones registradas</p>
                    {% endif %}
                </div>
            </li>
            <li>
                <div class="collapsible-header"><span class="badge">{{ publicaciones|length }}</span><i class="material-icons">library_books</i>Publicaciones</div>
                <div class="collapsible-body">
                    {% if publicaciones and publicaciones|length > 0%}
                        <table class="centered highlight">
                            <thead>
                                <tr>
                                    <th>Tipo</th>
                                    <th>Nombre</th>
                                    <th>Fecha</th>
                                    <th>Idioma</th>
                                    <th>Divulgación</th>
                                    <th>Sitio Web</th>
                                    <th>ISBN</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for pub in publicaciones %}
                                    <tr>
                                        <td>{{ pub.tipo_publicacion.descripcion }}</td>
                                        <td>{{ pub.nombre }}</td>
                                        <td>{{ pub.fecha }}</td>
                                        <td>{{ pub.idioma.descripcion }}</td>
                                        <td>{{ pub.divulgacion }}</td>
                                        <td>{{ pub.sitio_web }}</td>
                                        <td>{{ pub.isbn }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>No hay publicaciones registradas</p>
                    {% endif %}
                </div>
            </li>
        </ul>
        </div>
    {% endif %}

{% endblock %}



{% block init %}
    get_docentes();
    {% if msg %}
        $('.tooltipped').tooltip({delay: 50});
        Materialize.toast('{{ msg }}', 4000)
    {% endif %}

{% endblock %}


{% block script %}
    var data = {};

    function get_docentes(){

        $.ajax({
            type: 'GET',
            url: 'get_docentes',
            data: {},
            success: function (respuesta) {
                for(i=0; i< respuesta.length; i++)
                {
                    nombre = respuesta[i].fields.nombre1 +' '+respuesta[i].fields.nombre2 + ' '+respuesta[i].fields.apellido1 + ' '+respuesta[i].fields.apellido2;
                    data[nombre] = null;
                }

                $('input.autocomplete').autocomplete({
                    data: data,
                    limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
                    onAutocomplete: function(val) {
                        alert(val);
                    },
                    minLength: 1, // The minimum length of the input for the autocomplete to start. Default: 1.
                });

            },
            error: function(data) {
                alert(data);
            }
        });
    }





{% endblock %}